@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See the book list.</p>
</div>

<div class="container">
    <div class="row row-fluid ">
        <!--Loop to create a card for each Book from the database-->
        @foreach (var x in Model.Books)
        {
            <div class="col-lg-6 mb-4">
                <div class="card m-3 p-3" style="background-color:lightgoldenrodyellow;">

                    <div class="">
                        <h3>Title: @x.Title</h3>
                        <p>Author: @x.AuthFirst @x.AuthMid @x.AuthLast </p>
                        <p>Publisher: @x.Publisher</p>
                        <p>ISBN: @x.ISBN</p>
                        <p>Classification/Category: @x.Classification / @x.Category</p>
                        <p>Price: $@x.Price</p>
                        <p>Number of Pages: @x.PageNum</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="text-center">
    <div page-model="@Model.PagingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group m-1 col-4">
    </div>
</div>
